.stream-modal
  text-align center
  justify-content center
  padding 27px 0 24px

  &__title
    margin 0
    font-weight 500
    font-size 24px
    line-height 22px

  &__description
    font-size 16px
    margin-bottom 40px

  &__finished
    color #77C03D
    margin 32px 0 24px
