// extracted by mini-css-extract-plugin
export default {"agreement-table__title":"ls-agreement-table__title","agreement-table__user-info":"ls-agreement-table__user-info","agreement-table__name":"ls-agreement-table__name","agreement-table__agreement":"ls-agreement-table__agreement","agreement-table__agreement_withScore":"ls-agreement-table__agreement_withScore","agreement-table__score":"ls-agreement-table__score","agreement-table__score_zero":"ls-agreement-table__score_zero","agreement-table__score_low":"ls-agreement-table__score_low","agreement-table__score_medium":"ls-agreement-table__score_medium","agreement-table__score_high":"ls-agreement-table__score_high"};