// extracted by mini-css-extract-plugin
export default {"org-switch":"ls-org-switch","org-switch_expanded":"ls-org-switch_expanded","org-switch__item":"ls-org-switch__item","org-switch__item_disabled":"ls-org-switch__item_disabled","org-switch__item_active":"ls-org-switch__item_active","org-switch__indicator":"ls-org-switch__indicator","org-switch__indicator_open":"ls-org-switch__indicator_open","org-switch__subtitle":"ls-org-switch__subtitle","org-switch__list":"ls-org-switch__list","org-switch__org":"ls-org-switch__org","org-switch__org-list":"ls-org-switch__org-list"};