// extracted by mini-css-extract-plugin
export default {"warning":"ls-warning","warning__main":"ls-warning__main","warning__description":"ls-warning__description","warning__icon":"ls-warning__icon","warning__extra":"ls-warning__extra"};