.warning
  padding 25px
  border-radius 4px
  background-color rgba(244, 195, 72, 0.2)
  margin-bottom 40px

  &__main
    display flex
    width 100%
    align-items flex-start

  &__description
    flex 1

  &__icon
    margin-left 25px
    color #F4C348

  &__extra
    padding-top 16px
