.tag
  --height 22px
  --radius 5px
  --shadow-color #ccc
  --font-size 14px
  --padding 0 12px
  --background #FAFAFA
  --border-color: rgba(137, 128, 152, 0.16);
  --color #1F1F1F

  font-weight 500
  padding var(--padding)
  height var(--height)
  color var(--color)
  background-color var(--background)
  border-radius var(--radius)
  font-size var(--font-size)
  line-height 1 
  display inline-flex
  align-items center
  justify-content center
  border 1px solid var(--border-color)

  &_size
    &_small
      --padding 0 4px
      --height 20px
      --radius 2px
      --font-size 11px

    &_compact
      --padding 0 8px
      --height 28px
      --radius 4px
      --font-size 14px
