.trial
  height 41px
  display flex
  align-items center
  padding 0 16px
  color darken($green_5, 0.2)
  border-radius 5px
  font-size 16px
  background-color rgba($green_5, 0.1)

  &:hover
    color darken($green_5, 0.2)

  &_expired
    color $red_7
    background-color rgba($red_7, 0.1)

    &:hover
      color $red_7

  &_clickable
    cursor pointer

  &_small
    height 32px
