// extracted by mini-css-extract-plugin
export default {"user-info-popover":"ls-user-info-popover","user-info-popover__header":"ls-user-info-popover__header","user-info-popover__user-info":"ls-user-info-popover__user-info","user-info-popover__name":"ls-user-info-popover__name","user-info-popover__email":"ls-user-info-popover__email","user-info-popover__content":"ls-user-info-popover__content"};