// extracted by mini-css-extract-plugin
export default {"user-assigner":"ls-user-assigner","user-assigner__body":"ls-user-assigner__body","user-assigner__actions":"ls-user-assigner__actions","user-assigner_disabled":"ls-user-assigner_disabled"};